apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "url": "admin",
      "token": "Xfv%@@i8Aq82GaBvP9&3hWBv*UK&Ma6hb"
    }
